<div class="carousel-div" >
  
  

  <owl-carousel-o [options]="customOptions" >
    <ng-container >   
      <ng-template carouselSlide >  
           
          <img src="../../assets/tutle.png" alt="First slide" style="display: block; width: 100%;">
          <div class="carousel-caption  ">
            <h1>Enjoynment Time</h1>
            <p>Are you planning a vacation to enjoy your free time? Looking for a place to explore</p>
          </div>
        
        </ng-template>
      </ng-container>
    </owl-carousel-o>

  <img class="whats-img " src="../../assets/icons8-whatsapp.svg">
  <img class="circle" src="../../assets/circle.png">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <p class="book-text">Book Your  Next adventure</p>
          <div class="card-body">
            <select [(ngModel)]="selectedOption1">
              <option *ngFor="let option of options" [value]="option">{{ option }}</option>
            </select>
            <select [(ngModel)]="selectedOption2">          
              <option *ngFor="let option of things" [value]="option">{{ option }}</option>
            </select>
            <button type="button" class="btn btn-primary">
                Search
              </button>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

