select{
    width:150px;
    height: 30px;
    margin-bottom: 5px;
    
}

.owl-carousel{


    background-size: cover;
   
}
.carousel-div{

    position: relative;
}
.whats-img{
    position: absolute;
    top:65%;
    left: 0;
    z-index: 1;
}
.circle{
    position: absolute;
    top:65%;
    right: 0;
    z-index: 1;

}


.carousel-caption{
    top:30%;


}
.card {

    
    border-radius: 20px;
    color: #004796;
    
    transform: translateY(-50%);  
    z-index: 1; 
     
}
.card-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1% ;
    
}
button{
    background-color: orange;
    height: 30px;
}
h1{

    
font-size: 72px;
font-weight: 700;
line-height: 108px;

}
.book-text {font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.025em;
    margin: 12px;

    }


    /*arrows*/
    .owl-carousel .owl-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
      
      .owl-carousel .owl-prev,
      .owl-carousel .owl-next {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 30px;
        height: 30px;
        font-size: 30px;
        border-radius: 50%;
        background: #000;
        color: #fff;
        opacity: 0.5;
      }
      
      .owl-carousel .owl-prev {
        left: 10px;
      }
      
      .owl-carousel .owl-next {
        right: 10px;
      }
      
      .owl-carousel .owl-prev:hover,
      .owl-carousel .owl-next:hover {
        opacity: 1;
      }