.orange{

    color: #FF681A;
    font-weight: bold;
   
}
.blue{ color: #004796; 
    text-transform: uppercase;
    text-transform: uppercase;

}

.bold-blue{
    color: #004796;
    font-weight: bold;
    

}
.custom{
    background-color:#004796;
    margin: 50px;
}