


 .owl-item {
   border-radius: 20px;
   opacity: 1;
   width: 25%;
   height: 300px;
  
}
.carousel-caption {
    text-align: left;
    padding: 0;
  
  }


.fas{
    color: #004796;
    margin: 3px;
}
.custom{
    background-color:#004796;
    margin: 50px;
    border-color:#004796;
    border-radius: 5px;
    color: #FFF;
}
.orange{
  color: #FF681A;
  font-weight: bold;
}
.blue{ color: #004796; 
  text-transform: uppercase;

}

.bold-blue{
  color: #004796;
  font-weight: bold;

}

