<div class="text-center py-5">
    <p class="blue ">CITY TOUR</p>
    <p class="bold-blue">Our <span class="orange">Tours</span></p>
    <app-rang-lider></app-rang-lider>
  </div>
      
  <div class="slick-wrapper container">
  
    
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img class="slid-img" [src]="slide.image">
      </div>
    </ngx-slick-carousel>
    
    </div>
    <div class="btn-container d-flex justify-content-end">
        <button class="custom">View more</button>
      </div>
    
    
  