<!-- <div class="new-blue-head">
    <div class="text-center py-2">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-start">
              <img class="img-fluid" src="../../assets/icons8-whatsapp.svg">
              <p class="py-1 ">+201011117381-24/7Help Support</p> 
           </div> 
       </div>
    </div>
<div class="d-flex justify-content-end">
    <div class="d-flex ">
            <img class="img-fluid" src="../../assets/tripadvisor.png">
            <img class="img-fluid" src="../../assets/facebook.png">
            <img class="img-fluid" src="../../assets/instagram.png"> 
            <div class="v-line"></div>   
        <div class="white">
            <img class="girl-face" src="../../assets/female-avatar-girl-face-woman-user-5-svgrepo-com.svg">
        </div>
   </div>

</div>
</div> -->
<div class="new-blue-head d-flex justify-content-start ">
    
        <div class="black">
            
        </div>
        <div class=" white">
            <div class="d-flex justify-content-center py-2">
                <img class="img-fluid" src="../../assets/icons8-whatsapp.svg">
                <p class="py-1 ">+201011117381-24/7Help Support</p> 
             </div> 
            
        </div>
        <div class=" d-flex orange justify-content-between py-2">
            
                <div class="d-flex">
                    <img class="img-fluid" src="../../assets/tripadvisor.png">
                    <img class="img-fluid" src="../../assets/facebook.png">
                    <img class="img-fluid" src="../../assets/instagram.png"> 
                    <div class="vertical-line "></div>
                </div>
                
        <div>
            <img class="girl-face" src="../../assets/female-avatar-girl-face-woman-user-5-svgrepo-com.svg"> 
            <img class="girl-face2 " src="../../assets/amira.png"> 
        </div>
        </div>
    
    
   
</div>
