
  
  .blue{
    color:#004796;
    text-transform: uppercase;
  }
  
  .col-md-6 img {
    width: 150px; /* Set the desired width value */
    height: 150px;
    border-radius: 50%;
    
  }
  .row p {
    font-size: 14px;
    
  }
  .blue{
    color:#004796;
    text-transform: uppercase;
    font-weight: bold;
  }
  .custom{
    background-color:#004796;

    border-color:#004796;
    border-radius: 5px;
    color: #FFF;
}

  
  
  