<div class="container mt-5">
    <div class=" justify-content-center">
        <div class="text-center ">
        <carousel [interval]="0" [activeSlide]="currentIndex">
          <slide *ngFor="let image of images">
            <p class="blue">{{image[2]}}</p>
            <div class="text-img">
            <p class="px-5"> {{image[0]}}</p>
            <img [src]="image[1] " class="img">
          </div>
          </slide>
        </carousel>
      </div>
    </div>
        <div class="arrow-container text-center">
            <a (click)="prevSlide()" class="arrow arrow-left">&#10094;</a>
            <a (click)="nextSlide()" class="arrow arrow-right">&#10095;</a>
        </div>  
  </div>