
<nav class="navbar navbar-expand-lg navbar-dark whith-bg  ">
    <div class="  container  px-4z whith-bg  ">
        <a class="navbar-brand" href="#!">
            <img class="logo-img img-fluid" src="../../assets/logoma-mobile.png" >
           </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            
            <ul class=" container navbar-nav ms-auto mb-2 mb-lg-0 justify-content-center ">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class=" dropdown ">
                    <div class=" nav-item dropdown-toggle dropdown-item py-2"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Destintion
                      </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="#!">Tours & Activities</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Hotels</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Tranfer</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact Us</a></li>



                
                     
            </ul>
        </div>
    </div>
</nav>







