
.orange{

    color: #FF681A;
    font-weight: bold;
}
.blue{ color: #004796; 
    text-transform: uppercase;

}

.bold-blue{
    color: #004796;
    font-weight: bold;
    

}
.custom{
    background-color:#004796;
    
}
.photo-container {
    position: relative;
    width: 100px;
    height: 100px;
  }

  .photo-container img {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fas{
    color: #FF681A;
    margin: 3px;
  }
  .custom{
    background-color:#004796;
    
    border-color:#004796;
    border-radius: 5px;
    color: #FFF;
}


    
.dis-img{
    position: absolute;
    top:10px;
    left: 0;
} 
.dis-num{

    position: absolute;
    top:30px;
    left:350px;
    

}
.photo{
    margin-top: 80px;
}
.col-md-6{
    position: relative;

}
.stars{
    width:50px;
    height: 10px;
}

   
 
.bg{
    background-color: #F4F4F4;
 padding: 20px;
    border-radius: 20px ;
    width: 90%;
    margin-bottom: 20px;

}
p{
    font-size: small;
    
}
/*test */
