<div class="text-center py-5">
    <p class="blue ">Offers</p>
    <h1 class="bold-blue">Best Offers  <span class="orange">for you</span></h1>
    <app-rang-lider></app-rang-lider>
  </div>

  <div class="container">
<div class="row ">
    
    <div class="col-md-6 bg ">
      <!-- Content for the first part -->
      <div class="discound d-flex justify-content-between">
        <img src="../../assets/dicound-img-L.png">
        <div class="nandstars">
            <h1>100$</h1>
            <img src="../../assets/stars.png">
        </div>
      </div>
      <!--end of discound-->
      
        <div class="container photo ">
            <div class="row">
              <div class="col-md-4">
                <div class="photo-container">
                  <img src="../../assets/c-sea.png" alt="Photo 1">
                  
                </div>
                <p>Marsa Alam</p>
              </div>
              <div class="col-md-4">
                <div class="photo-container">
                  <img src="../../assets/c-ship.png" alt="Photo 2">
                  
                </div>
                <p>Marsa Alam</p>
              </div>
              <div class="col-md-4">
                <div class="photo-container">
                  <img src="../../assets/c-ship.png" alt="Photo 2">
                  
                </div>
                <p>Marsa Alam</p>
              </div>
            </div>
          </div>
      
      <!--end of photo-->
      <div class="prag">
        <p>We offer you offers on some tourist cities with discounts of up to about 15% 
            on these trips tourist cities with discounts of up to about We offer you offers 
            on some tourist cities with discounts 
            of up to about 15% on these trips tourist cities with discounts of up to about.</p>
      </div>
      <!--end of dparagraph-->
      <div class="row">
           <div class="col-md-6">
            <div class="img-text d-flex justify-content-start">
                <i class="fas fa-clock"></i>
                <p>5-days</p>
           </div>
           <div class="d-flex justify-content-start">
               <i class="fas fa-user-friends"></i>
               <p>7</p>
           </div>
        </div>
        <div class="col-md-6">
           <div class="img-text d-flex justify-content-start">
            <i class="fas fa-map-marker-alt"></i>
            <p>location</p>
       </div>
       <div class="d-flex justify-content-start">
           <i class="fas fa-dollar-sign"></i>
           <p>15%</p>
       </div>
     </div>
      </div>
      <!--end of icon with text-->
      <div class="btn-container d-flex justify-content-end">
        <button class="custom">View offers</button>
      </div>
      <!--end of button-->
    </div>


    <div class="col-md-6 bg ">
        <!-- Content for the first part -->
        <div class="discound d-flex justify-content-between">
          <img src="../../assets/dicound-img-L.png">
          <div class="nandstars">
              <h1>100$</h1>
              <img src="../../assets/stars.png">
          </div>
        </div>
        <!--end of discound-->
        
          <div class="container ">
              <div class="row">
                <div class="col-md-4">
                  <div class="photo-container">
                    <img src="../../assets/c-sea.png" alt="Photo 1">          
                  </div>
                  <p>Marsa Alam</p>
                </div>
                <div class="col-md-4">
                  <div class="photo-container">
                    <img src="../../assets/c-ship.png" alt="Photo 2">
                    
                  </div>
                  <p>Marsa Alam</p>
                </div>
                <div class="col-md-4">
                  <div class="photo-container">
                    <img src="../../assets/c-ship.png" alt="Photo 2">
                    
                  </div>
                  <p>Marsa Alam</p>
                </div>
              </div>
            </div>
        
        <!--end of photo-->
        <div class="prag">
          <p>We offer you offers on some tourist cities with discounts of up to about 15% 
              on these trips tourist cities with discounts of up to about We offer you offers 
              on some tourist cities with discounts 
              of up to about 15% on these trips tourist cities with discounts of up to about.</p>
        </div>
        <!--end of dparagraph-->
        <div class="row">
             <div class="col-md-6 ">
              <div class="img-text d-flex justify-content-start">
                  <i class="fas fa-clock"></i>
                  <p>5-days</p>
             </div>
             <div class="d-flex justify-content-start">
                 <i class="fas fa-user-friends"></i>
                 <p>7</p>
             </div>
          </div>
          <div class="col-md-6">
             <div class="img-text d-flex justify-content-start">
              <i class="fas fa-map-marker-alt"></i>
              <p>location</p>
         </div>
         <div class="d-flex justify-content-start">
             <i class="fas fa-dollar-sign"></i>
             <p>15%</p>
         </div>
       </div>
        </div>
        <!--end of icon with text-->
        <div class="btn-container d-flex justify-content-end">
          <button class="custom">View offers</button>
        </div>
        <!--end of button-->
      </div>
    
  </div>
</div>


  
