<div class="blue-head">
    
    <div class="img-text ">
        <div class="icon-text justify-content-center">
           <img class="img-fluid" src="../../assets/icons8-whatsapp.svg">
           <p class="py-1 ">+201011117381-24/7Help Support</p>  
       </div>

    
    <div class="three-icon">
        <img class="img-fluid" src="../../assets/tripadvisor.png">
        <img class="img-fluid" src="../../assets/facebook.png">
        <img class="img-fluid" src="../../assets/instagram.png"> 
    
        <div class="v-line"></div>
    </div>
    <div class="gir-flag">
        <div class="icons">
            <i class="fas fa-sign-in-alt  ">Login</i> <!-- Login icon -->
            <i class="fas fa-user-plus ">Register</i> <!-- Register icon -->
          </div>
        <img class="girl-face" src="../../assets/female-avatar-girl-face-woman-user-5-svgrepo-com.svg">
        
      </div>
    
</div>
</div>
