.slid-img{
    display: block; 
    width: 100%;
    height: 75%;
    
    
}

.orange{

    color: #FF681A;
    font-weight: bold;
}
.blue{ color: #004796; 
    text-transform: uppercase;

}

.bold-blue{
    color: #004796;
    font-weight: bold;
    

}
.custom{
    background-color:#004796;
    margin: 50px;
}
.slick-wrapper{
    width: 1000px;
    margin: 20px auto;
}

.slick-prev:before, .slick-next:before {
    color: black!important;
}
.div-under-img{
    background-color: white;
    width: 75%;
}
.div-under-img{
    border-radius: 20px;
    height :300px;
    
}
.offer-content p {
    font-size: 10px;
}
.fa{
    color: #FF681A;
}
.mony{
    color: #FF681A;
}
.border{
    border-radius: 0;
}